body {
    background-image: url(../images/exercise.jpg);
    background-repeat: no-repeat;
    // 
    background-position: center top 70px;
    
}

form {
    background-color:rgba(255,255,255, 0.8) !important;
    opacity: 0.8;
}